$burger-width-small: 32px;
$burger-height-small: 18px;

$burger-width: 50px;
$burger-height: 32px;
$burger-line-height: 3px;

//<<<<<<< HEAD
// COLORS
$main: #4d4d4d;
$yellow: #f7c65a;
$dark-blue: #36386f;
$green: #4aca35;
$gray: #b0a798;
$red: #cf4e32;

//=======
:root {
  --color-black: #000;
  --color-white: #ffffff;
  --color-grey: #E5E5E5;
  --color-orange: #F7C65A;
  --color-blue: #40697F;
  --color-green: #477640;
  --color-violet: #977DAD;
  --color-dark: #35405C;
  --color-yellow: #F7FA7A;
  --color-brown: #CF4E32;
  --color-darkgrey: #4D4D4D;

}

//>>>>>>>
