     <div class="container catalog-menu__container">
       <h1 class="title">Каталог</h1>

       <div class="catalog-menu">
         <ul class="catalog-menu__list">
           <li class="catalog-menu__item dropdown">
             <button class="catalog-menu__btn-item">Сортировка</button>
             <!-- первый уровень выпадающего списка -->
             <div class="catalog-menu__dropdown dropdown__body">
               <ul class="dropdown__list">
                 <li class="dropdown__item"><a href="#" class="dropdown__link">По популярности</a></li>
                 <li class="dropdown__item"><a href="#" class="dropdown__link">По увеличению цены</a></li>
                 <li class="dropdown__item"><a href="#" class="dropdown__link">По уменьшению цены</a></li>
                 <li class="dropdown__item"><a href="#" class="dropdown__link">По новинкам</a></li>
               </ul>
             </div>
           </li>
           <li class="catalog-menu__item dropdown">
             <button class="catalog-menu__btn-item hide">Пол</button>
             <div class="catalog-menu__dropdown dropdown__body big">
               <ul class="dropdown__list">
                 <li class="dropdown__item"><a href="#" class="dropdown__link">Женский</a></li>
                 <li class="dropdown__item"><a href="#" class="dropdown__link">Мужской</a></li>
               </ul>
             </div>
           </li>
           <li class="catalog-menu__item dropdown">
             <button class="catalog-menu__btn-item hide">Цвет</button>
             <div class="catalog-menu__dropdown dropdown__body">
               <ul class="dropdown__list">
                 <li class="dropdown__item color"><a href="#" class="dropdown__item-blue"></a></li>
                 <li class="dropdown__item color"><a href="#" class="dropdown__item-white"></a></li>
                 <li class="dropdown__item color"><a href="#" class="dropdown__item-green"></a></li>
                 <li class="dropdown__item color"><a href="#" class="dropdown__item-brown"></a></li>
                 <li class="dropdown__item color"><a href="#" class="dropdown__item-orange"></a></li>
               </ul>
             </div>
           </li>
           <li class="catalog-menu__item dropdown">
             <button class="catalog-menu__btn-item hide">Размер</button>
             <div class="catalog-menu__dropdown dropdown__body">
               <ul class="dropdown__list">
                 <li class="dropdown__item"><a href="#" class="dropdown__link">Размер</a></li>
                 <li class="dropdown__item"><a href="#" class="dropdown__link">Размер</a></li>
               </ul>
             </div>
           </li>
           <li class="catalog-menu__item dropdown">
             <button class="catalog-menu__btn-item hide">Цена</button>
             <div class="catalog-menu__dropdown dropdown__body">
               <ul class="dropdown__list">
                 <li class="dropdown__item"><a href="#" class="dropdown__link">Цена</a></li>
                 <li class="dropdown__item"><a href="#" class="dropdown__link">Цена</a></li>
               </ul>
             </div>
           </li>
           <li class="catalog-menu__item dropdown">
             <button class="catalog-menu__btn-item hide">Узор</button>
             <div class="catalog-menu__dropdown dropdown__body">
               <ul class="dropdown__list">
                 <li class="dropdown__item"><a href="#" class="dropdown__link">Узор</a></li>
                 <li class="dropdown__item"><a href="#" class="dropdown__link">Узор</a></li>
               </ul>
             </div>
           </li>
           <li class="catalog-menu__item dropdown">
             <button class="catalog-menu__btn-item hide">Материалы</button>
             <div class="catalog-menu__dropdown dropdown__body">
               <ul class="dropdown__list">
                 <li class="dropdown__item"><a href="#" class="dropdown__link">Материалы</a></li>
                 <li class="dropdown__item"><a href="#" class="dropdown__link">Материалы</a></li>
               </ul>
             </div>
           </li>           
           <li class="catalog-menu__item dropdown">
            <button class="catalog-menu__btn-item hide">Детали</button>
            <div class="catalog-menu__dropdown dropdown__body">
              <ul class="dropdown__list">
                <li class="dropdown__item"><a href="#" class="dropdown__link">Детали</a></li>
                <li class="dropdown__item"><a href="#" class="dropdown__link">Детали</a></li>
              </ul>
            </div>
          </li>
          <li class="catalog-menu__item dropdown">
            <button class="catalog-menu__btn-item filters">Фильтры</button>
            <div class="catalog-menu__dropdown dropdown__body">
              <ul class="dropdown__list">
                <li class="dropdown__item"><a href="#" class="dropdown__link">Фильтры</a></li>
                <li class="dropdown__item"><a href="#" class="dropdown__link">Фильтры</a></li>
              </ul>
            </div>
          </li>

         </ul>
       </div>
     </div>
