<li class="products__item">
  <article class="product">
    <div class="product__image">
      <a href="#" class="product__image-img"> <img src="img/lavanda.png" alt="Носки с лавандой"></a>
      <button class="product__fav">
        <svg class="">
          <use xlink:href="img/sprite.svg#fav"></use>
        </svg>
      </button>
    </div>
    <div class="product__about">
      <h3 class="product__title">
        <a href="#">Носки с лавандой</a>
      </h3>
      <div class="product__price">600 ₽
      </div>
      <ul class="product__pagination">
        <li class="product__pagination item-blue">
        </li>
        <li class="product__pagination item-green">
        </li>
        <li class="product__pagination item-orange">
        </li>
        <li class="product__pagination item-violet">
        </li>
        <li class="product__pagination item-yellow">
        </li>
        <li class="product__pagination item-dark">
        </li>
        <li class="product__pagination item-brown">
        </li>
        <li class="product__pagination item-white">
        </li>
      </ul>
      <div class="product__details">Состав: 100% шерсть</div>
      <div class="product__size">Таблица размеров</div>
      <div class="product__size-btns">
        <button class="size-btn">35-38</button>
        <button class="size-btn">39-42</button>
        <button class="size-btn">43-46</button>
      </div>
      <div class="product__button">
        <button class="filters__btn-apply btn-cart">В корзину</button>
      </div>
    </div>
  </article>
</li>
