<section class="details">
  <div class="container details__container">
    <div class="details__info">
      <h2 class="details__title">Почему выбирают Айву?</h2>
      <p class="details__more">Наш интернет-магазин предлагает купить уникальные вязаные вещи, созданные
        дизайнерами, вдохновленными заснеженными вершинами древних гор и чистейшими зелеными лесами Карачаево-Черкесии
      </p>
      <div class="details__descr">
        <div class="details__descr__item">
          <div class="details__descr__item-one"> Только ручная <br>работа</div>
        </div>
        <div class="details__descr__item">
          <div class="details__descr__item-two">Высокое качество</div>
        </div>
        <div class="details__descr__item">
          <div class="details__descr__item-three">Доставка в любую точку РФ</div>
        </div>
        <div class="details__descr__item">
          <div class="details__descr__item-four">Экологичное производство</div>
        </div>
      </div>
    </div>
  </div>
</section>
