     <h1 class="title">Каталог</h1>
    
        <nav class="nav">                       
           <ul class="nav__list">
             <li class="nav__item"><a href="#" class="main-link nav_link">Сортировка</a></li>
             <li class="nav__item"><a href="#" class="main-link nav_link">Пол</a></li>
             <li class="nav__item"><a href="#" class="main-link nav_link">Цвет</a></li>
             <li class="nav__item"><a href="#" class="main-link nav_link">Размер</a></li>
             <li class="nav__item"><a href="#" class="main-link nav_link">Цена</a></li>
             <li class="nav__item"><a href="#" class="main-link nav_link">Узор</a></li>
             <li class="nav__item"><a href="#" class="main-link nav_link">Материалы</a></li>
             <li class="nav__item"><a href="#" class="main-link nav_link">Детали</a></li>                     
   
           </ul>          
   
         </nav>
    


