<section class="pictures">
  <div class="container pictures__container">
    <ul class="pictures__list">
      <li class="pictures__image"> <a href="#"><img src="img/image1.png" alt="Картинка"></a></li>
      <li class="pictures__image"> <a href="#"><img src="img/image2.png" alt="Картинка"></a></li>
      <li class="pictures__image"> <a href="#"><img src="img/image3.png" alt="Картинка"></a></li>
      <li class="pictures__image nonvisible"> <a href="#"><img src="img/image4.png" alt="Картинка"></a></li>
      <li class="pictures__image"> <a href="#"><img src="img/image5.png" alt="Картинка"></a></li>
      <li class="pictures__image"> <a href="#"><img src="img/image6.png" alt="Картинка"></a></li>
      <li class="pictures__image"> <a href="#"><img src="img/image7.png" alt="Картинка"></a></li>
      <li class="pictures__image nonvisible"> <a href="#"><img src="img/image8.png" alt="Картинка"></a></li>
    </ul>
  </div>
</section>
