.categories {
  position: relative;

  &__title {
    margin-bottom: 60px;

    @include tablet {
      margin-bottom: 48px;
    }

    @include mobile {
      margin-bottom: 12px;
    }
  }

  &__slider-wrapper {
    position: relative;
  }

  &__swiper-container {
    margin: 0 auto;
    width: 90%;
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img {
    margin-bottom: 19px;
    width: 170px;
    height: 174px;
    border: 2px solid transparent;
    border-radius: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    transition: border-color 0.2s ease-in-out;

    @include desktop {
      &:hover {
        border: 2px solid #F7C65A;
        transition: border-color 0.2s ease-in-out;
      }
    }

    @include tablet {
      width: 124px;
      height: 119px;
    }

    @include mobile {
      width: 50px;
      height: 50px;
    }

    @media all and (max-width: 768px) {

    }
  }

  &__name {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #4d4d4d;

    @include tablet {
      font-size: 14px;
      line-height: 19px;
    }

    @include mobile {
      font-size: 8px;
      line-height: 18px;
    }
  }
}
